<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" executionTimeout="3600" maxRequestLength="10240" minFreeThreads="8"   minLocalRequestFreeThreads="4" appRequestQueueLimit="5000" shutdownTimeout="600" />

    <sessionState mode="InProc" cookieless="false" timeout="60"/>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8"/>
  </system.web>

  <system.webServer>
    <security>
      <requestFiltering>
        <!--maxAllowedContentLength 单位是bytes，默认值30000000  最大值是40000000-->
        <requestLimits maxAllowedContentLength="10485760" />
      </requestFiltering>
    </security>
  </system.webServer>

  <appSettings>
    <add key="HXWPOV_APP_SYSTEM_CODE" value="test" />
    <add key="HXWPOV_APP_CUSTOMIZE_LOGIN_PAGE" value="hxdynamicpage_v20:common/hxlogin.hxpage.xhtml" />
    <add key="HXWPOV_APP_CUSTOMIZE_MAIN_PAGE" value="hxdynamicpage_v20:common/hxmainpage.hxpage.xhtml"/>
    <add key="HXWPOV_APP_CUSTOMIZE_LOGOUT_PAGE" value="hxdynamicpage_v20:common/hxlogout.hxpage.xhtml" />
    <add key="HXWPOV_APP_LOGIN_PWD_MAX_TRY_TIMES_NO_VERIFY_CODE" value="3" />
    <add key="HXWPOV_APP_JUMP_TO_LOGIN_PAGE_WHEN_XMLSVC_NO_SESSION" value="1" />
  </appSettings>
</configuration>